@media only screen and (max-width: 1024px) {
    .grid-itm2 {
        grid-row: 1/2;
        margin-bottom: 1rem;
    }
    
    .grid-itm1 {
        grid-row: 2/3;
    }
}


@media only screen and (max-width: 768px) {
    
    #pg-header {
        border-bottom: none;
        flex-direction: column;
        padding-bottom: 0.5rem;
    }
    
    #pg-searchbar {
        order: 2;
        margin-top: 1rem;
    }
        
    #pg-header nav {
        margin-top: 2rem;
        padding-bottom: 1rem;
        width: 100%;
        justify-content: center;
        border-bottom: solid thin var(--clr-off-primary);
    }

    .auth-form {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}
