* {
    margin: 0;
    padding: 0;
}

#page-header {
    background : var(--c-black);
}

.search-bar {
    background-color: var(--c-white);
}

.search-bar > input {
    width: 10rem;
}

section {
    flex-wrap: wrap;
}

article {
    height: max-content;
}

.card-cart {
    width: 28rem;
}
.card-image {
    /* object-fit: cover; */
    /* width: 710px; */
}

input[type='number'] {
    width: 3rem;
}