* {
    margin: 0;
    padding: 0;
}

#page-header {
    background : var(--c-black);
}

.search-bar {
    background-color: var(--c-white);
}

.search-bar > input {
    width: 10rem;
}

.hero-img {
    object-fit: cover;
    width: 100%;
    height: 30rem;
}

@media only screen and (max-width: 400px) {
    .search-bar > input {
        width: 5rem;
    }
}